{% extends "base.html" %}
{% load static %}

{% block title %}
    Ecocycle - Iniciar sesion
{% endblock title %}

{% block content %}
    <div class="hero bg-transparent">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <figure class="my-4">
                    <img src="{% static 'img/logo.jpeg' %}" alt="Ecocycle" class="rounded-full w-28 h-28 mx-auto" />
                </figure>
                <h1 class="text-6xl font-bold">ecocycle</h1>
                <p class="py-4 font-medium text-lg">
                    Iniciar sesión en tu cuenta
                </p>
            </div>
        </div>
    </div>
    <div class="card bg-base-200 sm:max-w-md shadow-2xl sm:mx-auto mx-4 mb-16">
        <div class="card-body items-center text-center">
            <form action="{% url 'login:auth' %}" method="POST" id="form-login" class="w-full my-4" onsubmit="showLoadingSpinner()">
                {% csrf_token %}
                <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Correo electronico</span>
                    </div>
                    <div class="relative text-gray-400">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                            </svg>
                        </div>
                        <input type="email" name="email" placeholder="Ingrese su email" class="input input-bordered focus:outline-none focus:border-primary w-full pl-10 transition duration-300" />
                    </div>
                </label>
                <label class="form-control w-full my-4">
                    <div class="label">
                      <span class="label-text">Contraseña</span>
                    </div>
                    <div class="relative text-gray-400">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4" />
                            </svg>
                        </div>
                        <input type="password" name="password" placeholder="Ingrese su contraseña" class="input input-bordered w-full pl-10 focus:outline-none focus:border-primary transition duration-300" />
                    </div>
                </label>
                {% if failed %}
                    <div role="alert" class="alert alert-error p-3 gap-0 sm:gap-4" id="error-message">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6 shrink-0 stroke-current"
                        fill="none"
                        viewBox="0 0 24 24">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>El email o contraseña es incorrecto</span>
                    </div>
                {% endif %}
            </form>
            <div class="card-actions w-full">
                <button type="submit" class="btn btn-primary w-full" form="form-login" id="submit-button">
                    Ingresar
                    <span id="loading-spinner" class="loading loading-spinner text-white hidden"></span>
                </button>
            </div>
        </div>
    </div>

    
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script>
        function showLoadingSpinner() {
            document.getElementById('loading-spinner').classList.remove('hidden');
            document.getElementById('submit-button').disabled = true;
        }
    </script>
{% endblock scripts %}