{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center">
        <div class="flex-auto w-200 px-2 py-2 mt-4">
            <div class="bg-white shadow-md rounded-lg px-8 mb-4 py-6">
                <h1 class="text-3xl font-bold mb-4">Ingresar Materiales</h1>
            </div>
            <form method="post" class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 py-6" action="{% url 'materials:send' %}">
                {% csrf_token %}
                <table class="table-auto w-full mb-4">
                    <tr>
                        <td class="px-4 py-2 font-semibold">Material</td>
                        <td class="px-4 py-2">
                            <input type="text" name="material_tipo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 font-semibold">Cantidad</td>
                        <td class="px-4 py-2">
                            <input type="floatformat" name="material_cantidad" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </td>
                    </tr>
                </table>
                <div class="flex justify-center mb-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" name="finalize_process" class="form-checkbox">
                        <span class="ml-2">Finalizar proceso</span>
                    </label>
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded-full center">
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}