{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-4xl font-bold">Bienvenido punto de recoleccion: "{{ request.session.user.nombre }}"</h1>
                <p class="py-6">
                    Valida las recolecciones recibidas.
                </p>
                <button class="btn btn-primary">Comenzar</button>
            </div>
        </div>
    </div>
{% endblock content %}