{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-4xl font-bold">Historial de recolecciones</h1>
                <p class="py-6">
                    Visualiza las recolecciones de materiales realizadas a lo largo del tiempo.
                </p>
            </div>
        </div>
    </div>

    {% if context.recolecciones %}
        <div class="overflow-x-auto">
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                ID
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Semana
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Finalizada
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Materiales
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Págo
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Observaciones
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Visto
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in context.recolecciones %}
                        <tr class="hover:bg-primary-content">
                            <td class="text-center">{{ r.id }}</td>
                            <td class="text-center">{{ r.semana }}</td>
                            <td class="text-center">
                                {% if r.finalizada %}
                                    <span class="badge badge-success text-white font-bold">
                                        Finalizada
                                    </span>
                                {% else %}
                                    <span class="badge badge-warning text-white font-bold">
                                        En progreso
                                    </span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <ul>
                                    {% for m in r.materiales %}
                                        <li>
                                            - {{ m.material.nombre }}: 
                                            {% if not r.cantidad_real %}
                                                {{ m.cantidad_recolectada }} Kg.
                                            {% else %}
                                                {{ m.cantidad_real }} Kg.
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td class="text-center">{{ r.pago }}</td>
                            <td class="text-center">{{ r.observaciones }}</td>
                            <td class="text-center">
                                {% if r.finalizada %}
                                    <form action="{% url 'recolector:close_recoleccion' r.id %}" method="POST">
                                        {% csrf_token %}
                                        <label class="swap swap-flip text-2xl">
                                            {% if r.notificacion %}
                                                    <input type="checkbox" onchange="this.form.submit()" />
                                                    <div class="swap-off text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                                                        </svg>                                  
                                                    </div>
                                                    <div class="swap-on text-success">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                        </svg>                                  
                                                    </div>
                                            {% elif r.observaciones %}
                                                <div class="swap-off text-success">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                    </svg>                                  
                                                </div>
                                            {% else %}
                                                <div class="swap-off text-info">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                    </svg>                                  
                                                </div>
                                            {% endif %}
                                        </label>
                                    </form>
                                {% else %}
                                <form>
                                    <label class="swap text-2xl">
                                    <div class="swap-off text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>                                  
                                    </div>
                                    </label>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div role="alert" class="alert bg-primary-content my-10 sm:w-1/2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-8 w-8 shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="font-bold text-xl">Aún no se han registrado recolecciones.</span>
        </div>
    {% endif %}
{% endblock content %}