{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Ecocycle
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>

<body class="flex flex-col min-h-screen">
    <div class="w-full mx-auto grass_bg floating flex-grow">
        <div>
            {% if request.session.user %}
                {% include 'components/navbar-'|add:request.session.user.subclase|add:'.html' %}
            {% else %}
                {% include 'components/navbar.html' %}
            {% endif %}
        </div>

        {% block content %}
        {% endblock content %}
    </div>

    <div>
        {% include 'footer.html' %}
    </div>

    {% block scripts %}
        <script src="{% static 'js/theme_changer.js' %}"></script>
    {% endblock scripts %}
</body>

</html>