<nav class="navbar">
    <div class="navbar_buttons">
        <ul class="flex">
            <label class="swap swap-flip text-2xl">
                <input type="checkbox" />
                <div class="swap-on">😈</div>
                <div class="swap-off">😇</div>
            </label>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/about">Acerca</a>
            </li>
            <li>
                <a href="/">Perfil</a>
            </li>
        </ul>
    </div>
</nav>