{% with query=query page=page page_range=page_range %}
    <div class="flex justify-center my-4">
        <div class="join">
            {% for i in page_range %}
                {% if page == i %}
                    <a href="{% url 'punto:index' %}?query={{ query }}&page={{ i }}" class="join-item btn btn-primary btn-square">
                        {{ i }}
                    </a>
                {% else %}
                    <a href="{% url 'punto:index' %}?query={{ query }}&page={{ i }}" class="join-item btn btn-neutral btn-square">
                        {{ i }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endwith %}