{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero bg-base-200">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-4xl font-bold">Centros de acopio</h1>
                <p class="py-6">
                    Administra los centros de acopio de materiales registrados en el sistema.
                </p>
            </div>
        </div>
    </div>

    <div class="card bg-base-100 shadow-xl mx-4 my-10 sm:mx-auto sm:w-3/4">
        <div class="card-body">
            <h2 class="card-title text-2xl">Añadir nuevo centro</h2>
            <div class="divider"></div>
            <form method="POST" action="{% url 'administrador:add_centro' %}">
                {% csrf_token %}
                <div class="flex items-center space-x-8">
                    <p class="font-semibold">
                        Nombre
                    </p>
                    <input type="text" name="nombre" placeholder="Ingrese el nombre del centro" class="input input-primary w-full" required />
                </div>
                <div class="flex items-center space-x-8 my-4">
                    <p class="font-semibold">
                        Dirección
                    </p>
                    <input type="text" name="direccion" placeholder="Ingrese su dirección" class="input input-primary w-full" required />
                </div>
                <div class="flex items-center space-x-8 my-4">
                    <p class="font-semibold">
                        Email
                    </p>
                    <input type="email" name="email" placeholder="Ingrese el correo electrónico" class="input input-primary w-full" required />
                </div>
                <div class="flex items-center space-x-8 my-4">
                    <p class="font-semibold">
                        Contraseña
                    </p>
                    <input type="password" name="password" placeholder="Ingrese su contraseña" class="input input-primary w-full" required />
                </div>

                {% if messages %}
                    {% for message in messages %}
                    <div role="alert" class="alert alert-error my-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>{{ message }}</span>
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="card-actions justify-end mt-4">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <h2 class="text-2xl font-bold text-center my-4">Listado de Centros registrados</h2>
    {% if context.centros %}
        <div class="overflow-x-auto my-10">
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Email
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Nombre
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Dirección
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="badge badge-primary-content">
                                Materiales
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in context.centros %}
                        <tr>
                            <td class="text-center">{{ r.email }}</td>
                            <td class="text-center">{{ r.nombre }}</td>
                            <td class="text-center">{{ r.direccion }}</td>
                            <td class="text-center">
                                {% if r.materiales|length > 0 %}
                                    <ul>
                                        {% for m in r.materiales %}
                                            <li>
                                                - {{ m.nombre }}: {{ m.cantidad }} Kg.
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    Aún no ha recibido materiales.
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div role="alert" class="alert bg-primary-content my-10 sm:w-1/2 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-8 w-8 shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="font-bold text-xl">Aún no se han registrado centros de acopio.</span>
        </div>
    {% endif %}
{% endblock content %}